<div id="modalRecarga" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Valor da recarga</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-info hide" id="saldo-alert">
      Atualizando saldo, por favor aguarde...
    </div>
    <p>
                <div class="input-prepend input-append">
                  <span class="add-on">$</span>
                  <input class="span4 valrec" id="appendedPrependedInput"
                    type="tel" placeholder="00"
                    name="valor_recarga" autofocus>
                  <span class="add-on">.00</span>
                </div>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
    <button type="submit" class="btn btn-success" id="submit-recarga">Efetuar Recarga</button>
  </div>
</div>
