<div data-role="header">
	<h1>Confirmação</h1>
</div>

<div data-role="content">
	<h3>Consumo confirmado!</h3>
	<p><%= @cliente.nome %> seu novo saldo é <%= number_to_currency(@cliente.saldo) %></p>

	<%= link_to 'Novo consumo', consumo_path, 'data-role' => 'button'%>
</div>
