<div data-role="header">
	<h1>Escolha seu nome</h1>
</div>

<div data-role="content">
	<ul data-role="listview" data-filter="true" data-inset='true' >
		<% @clientes.each do |cliente|%>
			<li><%= link_to cliente.nome, detalhes_consumo_path(cliente.id), 'data-ajax' => "false" %></li>
		<% end %>
	</ul>
</div>
