<% if flash[:notice] %>
  <div  id="saldo-mesg">
    <div class="ui-bar ui-bar-e">
      <h3 style="display:inline-block; width:92%; margin-top:5px;"><%= flash[:notice] %></h3> 
    </div>
  </div>
  <script>
    setTimeout(function() { $("#saldo-mesg").html(""); }, 3000);
  </script>
<% end %>

<div data-role="header">
  <% p @cliente %>
  <h1><%= "#{@cliente.nome} : #{@cliente.saldo}" unless @cliente.blank? %></h1>
	<%= link_to 'Novo cliente', novo_cliente_consumo_path%>
</div>

<div data-role="content">
	<ul class="lista-clientes" data-role="listview" data-filter="true" data-inset='true'>
		<% @clientes.each do |cliente|%>
			<li class="item-cliente"><%= link_to cliente.nome, detalhes_consumo_path(cliente.id), 'data-ajax' => "false" %></li>
		<% end %>
	</ul>
</div> 

<script>
$(document).ready(function() {
  var search_input = $("ul.lista-clientes").prev().find('input.ui-input-text');
  search_input.focus();
  search_input.keydown(function(e) {
    if (e.which == 13) { 
      window.location = $("li.item-cliente").filter(":visible:first").find('a:first').attr('href');
    }
  });
});
</script>
