// Place all the styles related to the consumo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clickable {
  cursor:pointer;
}

.nav.pull-right {
  button {
    margin-right: 5px;
  }
}

.navbar.navbar-fixed-top .navbar-inner{
    padding: 1em;
}
