<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Curto Cartão</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

</head>
<body>
  <div data-role="page">

    <%= yield %>

  </div>

  <%= javascript_include_tag "mobile" %>

</body>
</html>
